/GRserver/GRserver/x64
/GRserver/.vs
/GRserver/packages 
/GRClient/GRClient/x64
/GRClient/.vs
/GRClient/packages

*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 
